                        <select id="theme" class="form-control">
                            <option value="wbur">WBUR</option>
                            <option value="npr">NPR</option>
                            <option value="onpoint">On Point</option>
                            <option value="hearandnow">Here &amp; Now</option>
                            <option value="onlyagame">Only A Game</option>
                            <option value="radioboston">Radio Boston</option>
                            <option value="modernlove">Modern Love</option>
                            <option value="dearsugar">Dear Sugar Radio</option>
                            <option value="kindworld">Kind World</option>
                            <option value="magicpill">Magic Pill</option>
                            <option value="cognoscenti">Cognoscenti</option>
                            <option value="commonhealth">CommonHealth</option>
                            <option value="artery">The ARTery</option>
                            <option value="bostonomix">Bostonomix</option>
                            <option value="edify">Edify</option>
                            <option value="circleround"> Circle Round</option>
                            <option value="endlessthread">Endless Thread</option>
                            <option value="lastseen">Last Seen</option>
                            <option value="foodtalk">Food We Need To Talk</option>
                            <option value="earthwhile">Earthwhile</option>
                        </select>